.app {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app h1 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 10px 0;
}

.app a {
    color: #00d8ff;
    font-size: 1.2rem;
}